.file-upload {
    background-color: beige;
    border-color: #111;
    border-radius: 5px;
    border: black solid 2px;
    display: inline-flex;
    cursor: pointer;
    padding: .5rem 2rem .5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 1rem;
    box-shadow: 3px 3px black;
}

.file-upload:hover {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px black;
}

.file-upload:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.fa-file-audio {
    font-size: 2rem;
}

.insert-text {
    font-size: 1rem;
    font-weight: bold;
}